.img-circle{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
body{
    padding-top: 100px;
}

.bg-2{
    background-color: rgba(128,128,128,0.37);
}

.dropdown .dropdown-menu .dropdown-toggle{
    background-color: rgba(11, 86, 20, 0.59) !important;
}
.navbar {
    margin-bottom: 0;
    background-color: rgba(11, 86, 20, 0.59);
    border: 0;
    font-size: 18px !important;
}
.navbar li a, .navbar .navbar-brand { 
    color: white !important;
    font-size: 16px;
}
.navbar-nav li a:hover {
    color: grey !important;
}
.navbar-nav li a:active {
    color: grey !important;
    background-color: rgba(6, 51, 12, 0.59) !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: grey;
    background-color: rgba(6, 51, 12, 0.59) !important;
}
.dropdown-menu li a {
    color: white !important;
}
.dropdown-menu li a:hover {
    color: grey !important;
     background-color: rgba(6, 51, 12, 0.59) !important;
}
.dropdown-menu{
   background-color: rgba(11, 86, 20, 0.59) !important; 
   width: 25px;
   padding: 0;
}